<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
Current User (<%= current_user.id %>): <%= current_user.first_name %> <%= current_user.last_name %> from <%= current_user.country %>
  <li>
    <%= link_to('Profile (json)', controller: "users", action: "show", id: @current_user) %>        
  </li>
  <li>
    <%= link_to('Edit', controller: "users", action: "edit", id: @current_user) %>        
  </li>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
