<h2>Edit Trip</h2>

<%= form_for(:trip, url: '/trip', html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :destrination %><br />
    <%= f.text_field :destination %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_local_field(:start_date) %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_field(:end_date) %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
