
<script type="text/javascript">
  // Users per country.
  let cAmsterdam = "<%= @cAmsterdam %>";
  let cBangkok = "<%= @cBangkok %>";
  let cBerlin = "<%= @cBerlin %>";
  let cChicago = "<%= @cChicago %>";
  let cDC = "<%= @cDC %>";
  let cHongKong = "<%= @cHongKong %>";
  let cIstanbul = "<%= @cIstanbul %>";
  let cKualaLumpur = "<%= @cKualaLumpur %>";
  let cLasVegas = "<%= @cLasVegas %>";
  let cLondon = "<%= @cLondon %>";
  let cLosAngeles = "<%= @cLosAngeles %>";
  let cMilan = "<%= @cMilan %>";
  let cMontreal = "<%= @cMontreal %>";
  let cNewYork = "<%= @cNewYork %>";
  let cOsaka = "<%= @cOsaka %>";
  let cParis = "<%= @cParis %>";
  let cPrague = "<%= @cPrague %>";
  let cRome = "<%= @cRome %>";
  let cSeoul = "<%= @cSeoul %>";
  let cShanghai = "<%= @cShanghai %>";
  let cSingapore = "<%= @cSingapore %>";
  let cSydney = "<%= @cSydney %>";
  let cTaipei = "<%= @cTaipei %>";
  let cTokyo = "<%= @cTokyo %>";
  let cToronto = "<%= @cToronto %>";
  let cVienna = "<%= @cVienna %>";
  let cZurich = "<%= @cZurich %>";

  // Assign tripid to a js variable.
  let tripid = "<%= params[:tripid] %>"
</script>

<%= csrf_meta_tags %>

<header>
    <div class="navbar navbar-default navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <%# <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button> %>
                <img src="https://cdn.worldvectorlogo.com/logos/react-router.svg" style="height:80px; width:80px;" id="rotatelogo">
                <div href="http://localhost:3000"><strong style="font-size:1.3em; color:white">RouteTour</strong></div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left main-switch">
                    <li><a href="/">&nbsp;Back to Homepage&nbsp;&nbsp;</a></li>
                    <li><a href="/trip/index">Browse All Trips</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right main-switch">
                    
                    <% if user_signed_in? %>
                        <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a><li>
                    <% else %>
                        <li><a href="/users/sign_up">Join</a></li>
                        <li><a href="/users/sign_in">Log In</a></li>
                    <% end%>
                </ul>
                    
            </div>  
        </div>
    </div>
</header>


<div id="snippet--flashMessages"></div>

<div class="content header-banner" data-image="/assets/headers/04.jpg" style="background-image: url(&quot;/london.jpg&quot;); opacity: 0.5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-holder profile edit">
                <h1 class="header"><%= current_user.first_name %></h1>
            </div>
        </div>
    </div>
</div>

<div class="content profile edit">

<div class="container profile-header">
    <div class="row">

            
            <div class="img-holder">
                    <img id="profile-image" src="https://static.pexels.com/photos/374710/pexels-photo-374710.jpeg" alt="tripper photo">
            </div>
           

    </div>
    <div class="row">

    </div>

</div>


 <div  class="container" >


            <hr />
            <%= csrf_meta_tags %>
            <%= javascript_pack_tag 'countrymap-userlist-bundle' %>
            <%= javascript_pack_tag 'countrymap' %>
            <div id="chartdiv"></div>
            <hr />
            <div id="usersdiv" style="display:none">
            <h1>Other Users</h1>
            <%= react_component("UserList", props: {userToReact: @userlistprops, tripToReact: @trip}, prerender: false) %>


            <hr />
</div>