<!-- TODO - Move this style to scss files? -->
<style>
  * { margin: 0; padding: 0; box-sizing: border-box; }
  body { font: 13px Helvetica, Arial; }
  form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 35%; }
  form input { border: 0; padding: 10px; width: 70%; margin-right: .5%; }
  form button { width: 28%; background: rgb(130, 224, 255); border: none; padding: 10px; }
  #messages { list-style-type: none; margin: 0; padding: 0; font-size: 20px; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: rgb(130, 224, 255); }
  #messages { margin-bottom: 40px }
</style>

<div style="width: 100%;">
  <div id="chatwindow" style="float:left; width:35%; position:fixed; height:100%; overflow:auto; overflow-y: scroll;">
    <ul id="messages"></ul>
    <form action="" style="opacity:0.9">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <%# <%= javascript_pack_tag 'chat-bundle' %> 
    <%# <%= react_component("Chat", props: @chat_messages_props, prerender: false) %>
    <script>
      $(function () {
        //var urlToImage = fetch('url-to-image');
        var socket = io("http://localhost:8080");

        <%# Disabled username as available URL param.
          $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;

            let username = decodeURIComponent($.urlParam('name'));
        } %>
        
        <% if user_signed_in? %>
          let username = "<%= current_user.first_name %>"// <%= current_user.last_name %>
        <% else %>
          let username = "Anonymous"
        <% end %>

        $('form').submit(function(){
          socket.emit('chat message',<%= params[:tripid] %>, username, $('#m').val());
          $('#m').val('');
          return false;
        });

        socket.on('chat message', function(tripid, username, msg){
          // Only show messages if they're meant for the trip (tripid).
          if (tripid === <%= params[:tripid] %>){
            $('#messages').append($('<li>').text(decodeURIComponent(username) + ':  ' + msg));
            
            // The line below scrolls to the bottom of the dashboard/window.
            //window.scrollTo(0, document.body.scrollHeight);

            // The line below scrolls to the bottom of the chat window.
            let cw = document.getElementById("chatwindow")
            cw.scrollTop = 5000//document.body.scrollHeight
          }
        });
        
        socket.on('suggestion',function(tripid, username, msg){
          // Only show messages if they're meant for the trip (tripid).
          if (tripid === <%= params[:tripid] %>){
            //console.log(msg);
            htmlstr = `<a href=${msg} target="_blank">'${msg}'</a>`; 
            console.log(htmlstr);
            $('#messages').append($('<li>').html(decodeURIComponent(username) + ':  '+ htmlstr));

            // The line below scrolls to the bottom of the dashboard/window.
            // window.scrollTo(0, document.body.scrollHeight);

            // The line below scrolls to the bottom of the chat window.
            let cw = document.getElementById("chatwindow")
            cw.scrollTop = 5000//document.body.scrollHeight
          }
        });
      });
    </script>
  </div>

    <div>
      <div id='whatever' style="float:right; width: 65%">
    <%= react_component("LandMarks", props: @chat_messages_props, prerender: false) %>
  </div>
  </div>

